#sender {
    display: block;
    margin-left: 50%;
    width: 50%;
    text-align: right;
}

#sender time {
    display: block;
    margin-top: 20px;
}

#sender h4 {
    margin: 0;
}

address {
    line-height: 25px;
}

#content {
    line-height: 25px;
}

#content li {
    margin-bottom: 10px;
}